*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #cceeff;
    padding: 30px;
}

.main {
    background-color: #ffffff; 
    width: 100%; 
    padding: 50px;
    border-radius: 10px;
    align-content: center;
    box-sizing: border-box;
    margin-top: 50px;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ensure items align vertically */
    flex-wrap: wrap; /* Allows wrapping when screen size reduces */
    padding: 10px;
    margin-top: -10px;
    background-color: #ffffff;
    border-bottom: solid 3px #d1e0e0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1) ;
    margin-bottom: 50px;
}

.nav-bar img{
    display: none;
}


.logo{
    margin-top: -10px;
    flex: 1; /* Allows it to scale as needed */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    flex: 2;
    list-style: none; /* Remove bullet points */
    padding: 0;
    margin-left: -170px;
}

.nav-container li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}

.nav-container li a {
    text-decoration: none;
    color: #b3b3b3;
    cursor: pointer;
}

.nav-container li a:hover{
    color: #000000;
    border: thin;
    border-radius: 10%;
    background-color: #a6a6a6;
    padding: 10px;
}

.profile img{
    margin-right: 30px;
    border-radius: 50%; 
    width: 60px;
    height: 60px; 
    margin-top: -10px;
}


/* Media Query for smaller screens */
@media (max-width: 768px) {
    .nav-header {
        display: inline-block;
        flex-direction: column; /* Stack elements vertically on small screens */
        align-items: center;
        padding: 10px;
    }

    .nav-container li{
        display: none;
        flex-direction: column;
        gap: 10px;
        background-color: white;
        position: absolute;
        
    }

    .nav-bar img{
        display: block;
        height: 30px;
        cursor: pointer;
        margin-left: 90vh;
        margin-top: -45px;
    }

    .nav-bar img:hover{
      height: 10px;
      background-color: #333;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.5s ease; /* Transition for the rotation */
    }
    
    /* Rotate class to be added on click */
    .rotate {
      transform: rotate(180deg); /* Rotates the navbar 180 degrees */
    }
    

    .logo img{
        display: block;
        margin-top: 8px;
        padding-top: 10px;
    }

    .nav-container {
        flex-direction: column; /* Stack the nav items vertically */
        text-align: center;
    }

    .profile img {
       display: none;    
    }
}


/* The content section */

.content-cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-info h3{
    font-size: 40px;
    margin-bottom: 5px;
}

.content-info p{
    font-size: 20px;
    margin-bottom: 20px;
    width: 400px;
}



/* Designing the cards */


.slot-1{
    display: inline;
    padding: 5px;
    border: none;
    width: 50%;
}

.card-1 {
    background-image: url("https://i.ibb.co/dGqrXPN/coffee.png");
    background-size: cover; /* Ensures the image covers the entire card */
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 250px;
    width: 100%;
    text-align: left;
}

.card-info p{
    color: #ffffff;
    font-size: small;
    margin-bottom: 8px;
}

.price {
    text-align: left;
    margin-top: 120px;
    border: thin;
    border-radius: 5px;
    background-color: #ffffff;
    color: #804000;
    padding: 15px;
    width: 25%;
    cursor: pointer;
}

.price:hover{
    background-color: #804000;
    color: #ffffff;
    opacity: 0.5;
}

.flex-tab{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card-2{
    background-image: url("https://i.ibb.co/vY2VkDc/fruits.png");
    background-size: cover; /* Ensures the image covers the entire card */
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    color: white; 
    width: 45%;
    height: 350px;
    margin-right: 20px;
}

.card-2 .price {
    text-align: left;
    margin-top: 180px;
    border: thin;
    border-radius: 5px;
    background-color: #ffffff;
    color: #cc7a00;
    padding: 15px;
    margin-left: 5px;
    width: 60%;
    height: 50px;
    cursor: pointer;
}

.card-2 .price:hover{
    background-color: #cc7a00;
    color: #ffffff;
    opacity: 0.8;
}

.card-3{
    background-image: url("https://i.ibb.co/v1qBpxR/sugar-detox.png");
    background-size: cover; /* Ensures the image covers the entire card */
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    color: white; 
    width: 45%;
    height: 350px;
}

.card-3 .price {
    text-align: left;
    margin-top: 200px;
    border: thin;
    border-radius: 5px;
    background-color: #ffffff;
    color: #cc7a00;
    padding: 15px;
    width: 60%;
    height: 50px;
    cursor: pointer;
}

.card-3 .price:hover{
    background-color: #754b0b;
    color: #ffffff;
    opacity: 0.8;
}


/* Designing the second slot */

.slot-2{
    display: inline;
    margin-top: -15px;
    border: none;
    margin-left: px;
}

.flex-tab-2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card-4{
    background-image: url("https://i.ibb.co/sCBwZ45/NASA-building.png");
    background-size: cover; /* Ensures the image covers the entire card */
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    color: white; 
    width: 45%;
    height: 350px;
    margin-right: 20px;
}

.card-4 .price {
    text-align: left;
    margin-top: 180px;
    border: thin;
    border-radius: 5px;
    background-color: #ffffff;
    color: #5c5c8a;
    padding: 15px;
    margin-left: 5px;
    width: 60%;
    height: 50px;
    cursor: pointer;
}

.card-4 .price:hover{
    background-color: #5c5c8a;
    color: #ffffff;
    opacity: 0.8;
}

.card-5{
    background-image: url("https://i.ibb.co/MZX4Ys9/sahara-sand.png");
    background-size: cover; /* Ensures the image covers the entire card */
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    color: white; 
    width: 45%;
    height: 350px;
}

.card-5 .price {
    text-align: left;
    margin-top: 180px;
    border: thin;
    border-radius: 5px;
    background-color: #ffffff;
    color: #ff9933;
    padding: 15px;
    width: 60%;
    height: 50px;
    cursor: pointer;
}

.card-5 .price:hover{
    background-color: #ff9933;
    color: #ffffff;
    opacity: 0.5;
}


.card-6 {
    background-image: url("https://i.ibb.co/10s9TfY/instagram.png");
    background-size: cover; /* Ensures the image covers the entire card */
    background-position: center; 
    background-repeat: no-repeat; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 250px;
    width: 100%;
    text-align: left;
    margin-top: 15px;
}

.card-6 .price {
    text-align: left;
    margin-top: 120px;
    border: thin;
    border-radius: 5px;
    background-color: #ffffff;
    color: #476b6b;
    padding: 15px;
    width: 25%;
    cursor: pointer;
}

.card-6 .price:hover{
    background-color: #476b6b;
    color: #c2c2a3;
    opacity: 0.8;
}



/* Small Mobile Devices: 320px - 480px */
@media (max-width: 480px) {
    .main {
        padding: 20px;
        margin-top: 20px;
    }

    .nav-header{
        display: inline;
        width: 100%;
    }

    .nav-container li {
        display: none;
    }

    .nav-bar img {
        display: block;
        height: 30px;
        margin-left: auto;
    }

    .profile img {
        display: none;
    }

    .content-info h3 {
        font-size: 24px;
    }

    .content-info p {
        font-size: 14px;
        width: 100%;
    }

    .content-cards{
        width: 100%;
        display: block;
        padding: 5px;
    }

    #navLinks.active ul {
        display: flex;
    }
   
}

/* Medium Mobile Devices: 481px - 768px */
@media (min-width: 481px) and (max-width: 768px) {
    .main {
        padding: 20px;
        margin-top: 20px;
    }

    .nav-header{
        display: inline;

    }

    .nav-container li {
        display: none;
    }

    .nav-bar img {
        display: block;
        height: 30px;
        margin-left: auto;
    }

    .profile img {
        display: none;
    }

    .content-info h3 {
        font-size: 24px;
    }

    .content-info p {
        font-size: 14px;
        width: 100%;
    }

    .card-2 .price {
        width: 100%;
        margin-top: 80px;
        text-align: center;
    }

    .content-cards{
        display: block;
        width: 100%;
    }

    .price, .card-3 .price, .card-4 .price, .card-5 .price, .card-6 .price{
        margin-top: 100px;
        width: 100%;
        text-align: center;
    }


}

/* Tablets: 769px - 1024px */
@media (min-width: 769px) and (max-width: 2024px) {
    .nav-container {
        margin-left: 0;
    }

    .nav-container li {
        font-size: 18px;
    }

    .profile img {
        width: 50px;
        height: 50px;
    }

    .content-info h3 {
        font-size: 32px;
    }

    .content-info p {
        font-size: 18px;
    }

    .content-cards{
        display: block;
        width: 100%;
    }
}

