*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #cceeff;
}

.main {
    background-color: #ffffff; 
    width: 100%; /* Ensure the div covers the full width of the container */
    padding: 20px; 
    box-sizing: border-box; 
    margin: 50px 30px 50px 30px;
}
